@import url('../../fonts/stylesheet.css');

.video_thumb {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 400ms ease 0ms;
}

.youtubecontainer {
    overflow: hidden;
    width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.divStart{
    height: 100%;
    width: 100%;
    background-color: #000000a3;
    position: absolute;
    top: 0;
}

.mainContainer{
    display: grid;
    /*grid-template-columns: 150px 505px 505px 505px 1fr;*/
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-auto-rows: auto;
    position: relative;
    text-align: start;
    /*padding-top: 16vh;*/
}

/* container 1 */

.container1{
    grid-column-start: 3;
    grid-column-end: 5;
    display: grid;
    padding-top: 16vh;   /* test */
    height: 90vh;      /* test */
}  /* test */

.titleH1{
    color: white;
    width: 751px;
    /*height: 200px;*/
    height: 290px;
    /*margin-bottom: 65px;*/
    font: normal normal 300 105px/121px Gilroy Light, sans-serif;
}

.titleH4{
    color: white;
    max-width: 615px;
    height: 100px;
    /*margin-bottom: 70px;*/
    font: normal normal 400 35px/47px Gilroy Light, sans-serif;
}

.greenBut{
    width: 420px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: #42DF4C;
    background: linear-gradient(#42DF4C 0 0) no-repeat;
    border: none;
    outline: none;
    border-radius: 50px;
    font: normal normal 400 18px/47px Gilroy Light, sans-serif;
    color: white;
    line-height: 90px;
    padding-left: 70px;
    background-size: 100%;
    transition: .4s;
}

.spanArrow{
    position: relative;
    top: 5px;
    right: 5px;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
    z-index: 3;
    align-items: center;
    display: flex;
    justify-content: center;
}

.greenButDiv{
    background-color: white;
    width: 418px;
    border-radius: 56px;
    height: 89px;
}

.greenBut:hover{
    color: black;
    background-size: 0%;
    transition: .4s;
}

.imgClass2{
    width: 100%;
    height: 101%;
    object-fit: contain;
}

/* container 1 end */

/* container 2 */

.div99{
    grid-column-start: 3;
    grid-column-end: 6;
    transition: --cum 3s;
    counter-set: cum var(--cum);
    /*margin-top: 15vh; !* 52vh *!*/
    background-color: #283338;
}

.container21{
    background-color: #283338;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-template-columns:  466px 466px 150px;
    display: grid;
    transition: --num 3s;
    counter-set: num var(--num);
}

.percentDiv2_2{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-auto-rows: auto;
    margin-top: -200px;
    position: relative;
    background-color: #283338;
}

.percentDiv2{
    font: 800 40px system-ui;
    margin-top: 150px;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
}

.percentDiv{
    font: 800 40px system-ui;
    background-color: #283338;
}

.percentP{
    color: white;
    width: 218px;
    font: normal normal 300 50px/48px Gilroy Light, sans-serif;
    margin-bottom: 90px;
}

.percent{
    color: #08ff08;
    font: normal normal 900 160px/37px Gilroy bold, sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #08ff08;
}

.percent2{
    color: #08ff08;
    font: normal normal 900 160px/37px Gilroy bold, sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #B2B1B7;
}

.section_counter{}

.percentPAnim{
    width: 400px;
    font: normal normal 900 160px/37px Gilroy bold, sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 0.15rem;
    -moz-text-stroke-width: 0.15rem;
    -ms-text-stroke-width: 0.15rem;
    -o-text-stroke-width: 0.15rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #08ff08;
    -moz-text-stroke-color: #42DF4C;
    -ms-text-stroke-color: #42DF4C;
    -o-text-stroke-color: #42DF4C;
}

.percentPAnim2{
    font: normal normal 900 160px/37px Gilroy bold, sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 0.15rem;
    -moz-text-stroke-width: 0.15rem;
    -ms-text-stroke-width: 0.15rem;
    -o-text-stroke-width: 0.15rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #B2B1B7;
    -moz-text-stroke-color: white;
    -ms-text-stroke-color: white;
    -o-text-stroke-color: white;
}

.circleDiv{
    margin-top: 50px;
}

.circleChart{
    transform: rotate(90deg);
}

.container21:hover .circleChartInfo{
    animation: circle-chart-appear 3s forwards;
    opacity: 0;
    transform: translateY(0.3em);
}

.container21:hover .circleChartCircle{
    animation: circle-chart-fill 2s reverse;
    transform: rotate(0deg);
    transform-origin: center;
}

.circleChartInfo{
    width: 200px;
    position: relative;
    top: -260px;
    left: 115px;
    color: #575758;
    font-size: 50px;
}

.addPercentP{
    width: 160px;
    margin-top: 100px;
    margin-bottom: 0;
}

.divPerc{
    margin-top: 30px;
}

.percentP2{
    font-family: Gilroy Light, sans-serif;
    color: #B2B1B7;
    font-weight: 100;
    font-size: 35px;
}

@keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* container 2 end */

/* container 3 */

.container2{
    margin-top: 100px;
    text-align: start;
    color: #B2B1B7;
    font-family: Gilroy Light, sans-serif;
    font-weight: 100;
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: #283338;
}

.container2And2{
    text-align: start;
    color: #B2B1B7;
    font-family: Gilroy Light, sans-serif;
    font-weight: 100;
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: #283338;
}

.pH{
    font-weight: 400;
    font-size: 65px;
    width: 780px;
}

.pH2{
    font-weight: 400;
    font-size: 65px;
    width: 675px;
    color: #B2B1B7;
    font-family: Gilroy Light, sans-serif;
    grid-column-start: 2;
    grid-column-end: 6;
}

.pP{
    margin-top: 95px;
    margin-bottom: 90px;
    width: 500px;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.divSpan{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    color: white;
    font: normal normal bold 36px/20px Gilroy Bold, sans-serif;
}

.spanB{
    width: 86px;
    height: 86px;
    display: block;
    text-align: center;
    line-height: 86px;
    margin: 0 35px 0 0;
    border-radius: 50%;
    background: transparent linear-gradient(180deg, #00000000 0%, #0000000A 25%, #000000 100%) 0% 0% no-repeat padding-box;
    color: white;
}

.span8{
    background: transparent linear-gradient(180deg, #42DF4C00 0%, #42DF4C 100%) 0% 0% no-repeat padding-box;
}

.span8Z{
    font: normal normal normal 28px/36px Gilroy Light, sans-serif;
    margin-top: 15px;
}

/* container 3 end */

/* container 4 */

.container3{
    min-height: 430px;
    background-image: url("../../image/svg/back.webp");
    margin: 163px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 6;
}

.pYear{
    font: normal normal 900 160px/42px Gilroy Bold, sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px red;
    margin-right: 20px;
}

.pDos2{
    font: normal normal 300 82px/90px Gilroy Light, sans-serif;
    color: white;
    width: 147px;
    text-align: start;
}

.pDos{
    font: normal normal 300 50px/48px Gilroy Light, sans-serif;
    color: white;
    width: 147px;
    text-align: start;
}

.imageBlock{
    display: flex;
    align-items: center;
}

.section_counter2{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.pBack{
    width: 200px;
}

.divBoxNum{
    display: flex;
    align-items: center;
}

.counter_item, .counter_item2{
    transition: all .5s ease-in-out;
    margin: 50px 0 40px 0;
}

/* container 4 end */

/* carousel */

.sliderBox{
    width: 80%;
    height: 666px;
    background: #161A1C 0% 0% no-repeat padding-box;
    border-radius: 20px;
    margin-bottom: 150px;
    display: grid;
    margin-left: 150px;
}

.window{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.arrowImg{
    cursor: pointer;
    position: relative;
    top: 60px;
    left: 50px;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    z-index: 2;
}

.arrowImg:hover {
    background-color: #72727287;
    border-radius: 50%;
}

.sNane{
    font: normal normal 300 33px/44px Gilroy Light, sans-serif;
    color: #7F7F80;
    display: block;
    position: relative;
    left: 310px;
    top: -65px;
}

.all_page_container{
    height: 600px;
    display: flex;
    flex-direction: row;
    transition: translate;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

/* carousel end */

/* container 5 */

.container4{
    grid-column-start: 3;
    grid-column-end: 6;
}

.container4ForCarousel{
    grid-column-start: 1;
    grid-column-end: 6;
}

.h4{
    color: #B2B1B7;
    font: normal normal 300 82px/90px Gilroy Light, sans-serif;
    width: 900px;
    margin: 163px 0 0;
}

.h42{
    grid-column-start: 2;
    grid-column-end: 6;
    color: #B2B1B7;
    font: normal normal 300 82px/90px Gilroy Light, sans-serif;
    margin: 5px 0 85px;
    max-width: 800px;

}

.h421 {
    grid-column-start: 2;
    grid-column-end: 6;
    color: #B2B1B7;
    font: normal normal 300 82px/90px Gilroy Light, sans-serif;
    margin: 5px 0 85px;
    max-width: 800px;
}

.p4{
    grid-column-start: 3;
    grid-column-end: 6;
    color: white;
    font: normal normal 100 33px/44px Gilroy Light, sans-serif;
    max-width: 609px;
    margin-bottom: 100px;
}

/* slider */

.sliderDiv{
    display: flex;
}

.divInfo{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 50px 0 50px;
}

.divImgSlider{
    padding: 0 10px;
    width: 100%;
    height: 666px;
    top: -169px;
    position: relative;
}

.pSmart{
    font: normal normal 900 90px/133px Gilroy Bold, sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

.pPrise{
    color: #7F7F80;
    font: normal normal 300 33px/44px Gilroy Light, sans-serif;
    margin: 35px 0 65px 0;
}

.pBig2{
    color: #42DF4C;
    font: normal normal 300 16px/32px Gilroy Light, sans-serif;
    cursor: pointer;
}

/* slider end */

/* container 5 end */

/* container 6 */

.container4_5{
    min-height: 900px;
    padding-top: 175px;
    text-align: start;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: 150px 505px 505px 505px;
}

.container4_52{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 6;
}

.container4_53{
    grid-column-start: 1;
    grid-column-end: 6;
}

.p4_5{
    font: normal normal normal 82px/90px Gilroy Light, sans-serif;
}

.p4_52{
    font: normal normal normal 82px/90px Gilroy Light, sans-serif;
    margin-left: -500px;
}

.hideMain{
    display: none;
}

.uhHideMain{
    display: block;
}

/* container 6 end */

/* container 7 */

.container5_2{
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    background-color: white;
    width: auto;

}

.container5_3{
    grid-column-start: 3;
    grid-column-end: 6;
}

.container5{
    background-color: #161a1c;
    min-height: 737px;
    padding-top: 125px;
    text-align: start;
    width: 98%;
    margin: auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 133px 505px 505px 505px;
}

.title5P{
    color: #D9D9D9;
    font: normal normal normal 52px/70px Gilroy Light, sans-serif;
    max-width: 1052px;
}

.ul{
    list-style-type: none;
    color: white;
    margin: 60px 0 55px -12px;
    font: normal normal 600 22px/33px Gilroy Light, sans-serif;
    line-height: 37px;
}

.p5{
    color: #7F7F80;
    font: normal normal 300 33px/44px Gilroy Light, sans-serif;
    margin: 102px 13px 10px 11px;
    position: relative;
    bottom: -38px;
    /*left: 30px;*/

}

.slideStyleBack{
    background: transparent url("../../image/svg/swlogo.svg") 21% 29% no-repeat padding-box;
    opacity: 4%;
    position: absolute;
    width: 99%;
    height: 750px;
    left: 1%;
    background-size: cover;
}

.imageS{
    height: 5px;
    width: 15px;
    margin-top: 20px;
    margin-right: 5px;
}

.spanIm{
    position: relative;
    top: 4px;
}

.li{
    display: flex;
}

.pBig23_3{
    top: 100px;
}

.div12{
    grid-column-start: 2;
    position: relative;
    bottom: 70px;
}

.pBig23{
    position: relative;
    z-index: 2;
    top: 60px;
    width: 210px;
    height: 21px;
    font: normal normal 300 18px/32px Gilroy Light, sans-serif;
    letter-spacing: 0;
    color: #42DF4C;
    text-transform: uppercase;
    cursor: pointer;
}

/* container 7 end */

/* container 8 */

.container6{
    background-color: white;
    min-height: 780px;
    text-align: start;
    padding-top: 160px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-template-columns: 150px 505px 505px 505px;
    display: grid;
}

.container6_2{
    grid-column-start: 3;
    grid-column-end: 6;
    display: grid;
}

.p6{
    color: black;
    max-width: 1051px;
    font: normal normal normal 52px/70px Gilroy Light, sans-serif;
}

.butGreen2{
    position: relative;
    top: -50px;
}

/* container 8 end */

/* container 9 */

.container7{
    width: 98%;
    background-color: #161a1c;
    min-height: 737px;
    text-align: start;
    padding-top: 90px;
    border-radius: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: 133px 505px 505px 505px;
}

.container7_2{
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    background-color: white;
    width: auto;
}

.container7_3{
    grid-column-start: 3;
    grid-column-end: 6;
}

.p16{
    color: #D9D9D9;
    max-width: 1051px;
    font: normal normal normal 52px/70px Gilroy Light, sans-serif;
}

.pBig23_2{
    top: 115px;
}

/* container 9 end */

/* container 10 */

.container8_2{
    grid-column-start: 3;
    grid-column-end: 6;
    display: grid;
}

.container8{
    background-color: white;
    min-height: 686px;
    text-align: start;
    padding-top: 120px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-template-columns: 150px 505px 505px 505px;
    display: grid;
}

/* container 10 end */

/* container 11 */

.container10_2 {
    background-color: #161a1c;
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: 150px 505px 505px 505px;
}

.container10{
    min-height: 846px;
    text-align: start;
    padding-top: 194px;
    grid-column-start: 2;
    grid-column-end: 6;

}

.p10{
    color: #B2B1B7;
    font: normal normal 300 82px/90px Gilroy Light;
    max-width: 1107px;
    left: 505px;
    position: relative;
}

.p10_2{
    color: #B2B1B7;
    font: normal normal 300 82px/90px Gilroy Light;
    max-width: 1420px;
}

.div10{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 100px;
}

.p102{
    color: white;
    font: normal normal 300 33px/44px Gilroy Light;
    width: 506px;
    /*margin: 65px 0 0 0;*/
    margin: 65px 30px 0 0;
    left: 90px;
    position: relative;
}

.span10{
    width: 419px;
    color: #7F7F80;
    font: normal normal 300 33px/44px Gilroy Light;
}

.divGreen10{
    right: -165px;
    position: relative;
}

.imgClass{
    width: 30px;
    height: 30px;
}

.hideMain2 {
    display: none;
}

/* container 11 end */

/* container map */

.mapCart{
    grid-column-start: 1;
    grid-column-end: 6;
}

.map_container{
    width: 100%;
    height: 70vh;
}

/* container map end */

/* container 12 */

.container11_2{
    display: grid;
    top: -4px;
    position: relative;
    height: 1402px;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-template-columns: 150px 505px 505px 505px;
    grid-auto-rows: 90px;
}

.container11{
    grid-column-start: 3;
    grid-column-end: 6;
    margin-top: 160px;
}

.container11_6{
    grid-column-start: 3;
    grid-column-end: 6;
    margin-top: 560px;
}

.container11_4{
    grid-column-start: 2;
    grid-column-end: 6;
    margin-top: 160px;
}

.p11{
    font: normal normal normal 72px/90px Gilroy Light, sans-serif;
}

.p11_2{
    width: 525px;
    font: normal normal 300 33px/44px Gilroy Light, sans-serif;
    margin-bottom: 100px;
}

/* container 12 end */

/* form */

.orderBlock{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    z-index: 4;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-out;
}

.userdata2{
    width: 335px;
    background-color: #1D2025;
    margin: 25% auto;
    padding: 10px;
    border-radius: 20px;
}

.ix{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.titleUser{
    width: 283px;
    height: 92px;
    text-align: left;
    font-family: Gilroy Light, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    margin: 0 0 0 15px;
}

.descSpan{
    font-family: Gilroy Light, sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    color: #B2B1B7;
    margin: 0 0 0 15px;
    text-align: left;
}

.inputUser{
    margin: 10px 0 10px 10px;
    padding: 5px;
    width: 90%;
    height: 40px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #A7A5A5;
    background-color: #1D2025;
    color: #A7A5A5;
    outline: none;
    font-family: Gilroy Medium, sans-serif;
}

.footerBut{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 283px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    font: normal normal normal 16px/19px Gilroy Light, sans-serif;
}

/* form end */



@media screen and (max-width: 1770px) {
    .mainContainer, .container8, .container6,
    .container10_2, .container11_2, .container4_5, .animDiv1, .container4_2{
        grid-template-columns: 150px 405px 405px 405px 1fr;
    }
    .container21{
        grid-template-columns: 405px 406px 1fr;
    }
    .h4{
        width: 900px;
    }
    .percentPAnim2{
        margin: 50px 0 0 0;
    }
    .p4_5, .p4_52, .p10_2, .p10{
        font: normal normal normal 72px/90px Gilroy Light, sans-serif;
    }
    .p10_2{
        max-width: 1270px;
    }
    .p10{
        max-width: 923px;
        left: 405px;
    }
    .pSmart{
        font-size: 75px;
    }
    .p11{
        font: normal normal normal 61px/78px Gilroy Light, sans-serif;
    }
    .title5P, .p6, .p16{
        font: normal normal normal 44px/70px Gilroy Light, sans-serif;
    }
    .p6{
        font: normal normal normal 47px/70px Gilroy Light, sans-serif;
    }
    .p6{
        max-width: 915px;
    }
    .container7, .container9, .container5{
        grid-template-columns: 133px 405px 405px 405px 1fr;
    }
    .divGreen10{
        right: 20px;
    }
    .p102{
        left: -15px;
    }
    .imageBlock{
        margin-right: 37px;
    }
    .divImgSlider{
        padding: 0 10px 0 110px;
    }
    .section_counter2{
        width: 71%;
    }
    @keyframes title1 {
        from {
            position: relative;
            left: -400px;
        }
        to {
            position: relative;
            left: 0px;
        }
    }
}

@media screen and (max-width: 1510px) {
    .mainContainer, .container8, .container6,
    .container10_2, .container11_2, .container4_5, .animDiv1, .container4_2{
        grid-template-columns: 100px 305px 305px 305px 1fr;
    }
    .container21{
        grid-template-columns: 305px 306px 1fr;
    }
    .divImgSlider{
        height: 566px;
    }
    .titleH1{
        font: normal normal 300 83px/94px Gilroy Light, sans-serif;
    }
    .p16{
        width: 790px;
    }
    .p6{
        max-width: 915px;
    }
    .divSpan{
        font-size: 33px;
    }
    .pYear{
        font-size: 140px;
    }
    .divBoxNum{
        width: 451px;
    }
    .pDos{
        width: 141px;
        font: normal normal 300 35px/40px Gilroy Light, sans-serif;
    }
    .container7, .container9, .container5{
        grid-template-columns: 83px 305px 305px 305px 1fr;
    }
    .p4_5, .p4_52, .p10_2, .p10, .p11{
        font: normal normal normal 62px/90px Gilroy Light, sans-serif;
    }
    .p11{
        font: normal normal normal 58px/83px Gilroy Light, sans-serif;
    }
    .p5{
        font: normal normal 300 24px/44px Gilroy Light, sans-serif;
        bottom: -41px;
    }
    .percentDiv2_2{
        margin-left: 100px;
    }
    .p4_52{
        margin-left: -300px;
    }
    .p10_2{
        max-width: 1270px;
    }
    .p10{
        max-width: 730px;
    }
    .divGreen10{
        right: 20px;
    }
    .p102{
        left: -15px;
    }
    .pSmart{
        font-size: 65px;
    }
    .sliderBox {
        height: 566px;
    }
    .divInfo{
        padding-top: 10px;
    }
    .pPrise{
        margin-top: 10px;
    }
    .h4{
        width: 770px;
    }
    .div99{
        margin-top: 100px;
    }
    .percentDiv2{
        margin-top: 0;
    }
    .imageBlock{
        margin-right: 0;
    }
    .section_counter2{
        width: 66%;
    }
    @keyframes title1 {
        from {
            position: relative;
            left: -300px;
        }
        to {
            position: relative;
            left: 0;
        }
    }
}

@media screen and (max-width: 1305px){
    .addClass{
        height: 500px;
    }
    .circleChartInfo {
        width: 200px;
        top: -195px;
        left: 95px;
        font-size: 35px;
    }
    .container1{
        padding-top: 10vh;
    }
    .p16 {
        width: 629px;
    }
    .div99{
        margin-top: 100px;
    }
    .container4_2{
        margin-left: 150px;
        display: flex;
        flex-direction: column;
    }
    .mainContainer, .container8, .container6,
    .container10_2, .container11_2, .container4_5, .animDiv1{
        grid-template-columns: 100px 205px 205px 205px 1fr;
    }
    .container21{
        grid-template-columns: 205px 205px 1fr;
    }
    .divImgSlider{
        height: 566px;
    }
    .p4_5, .p4_52, .p10_2, .p10{
        font: normal normal normal 45px/55px Gilroy Light, sans-serif;
        left: 0;
    }
    .title5P, .p6, .p16{
        width: 100%;
        font: normal normal normal 36px/47px Gilroy Light, sans-serif;
    }
    .span10 {
        width: 170px;
        font: normal normal 300 15px/25px Gilroy Light, sans-serif;
    }
    .p102{
        width: 335px;
        left: 35px;
        margin-right: 70px;
        font: normal normal 300 17px/23px Gilroy Light, sans-serif;
    }
    .upButton{
        margin-top: -90px;
    }
    .greenButDiv {
        width: 360px;
        height: 80px;
    }
    .greenBut {
        width: 360px;
        height: 80px;
        padding-left: 50px;
        font: normal normal 400 16px/47px Gilroy Light, sans-serif;
        padding-top: 20px;
    }
    .spanArrow{
        top: -15px;
        width: 70px;
        height: 70px;
    }
    .greenBut4 {
        top: 105px;
    }
    .greenBut3 {
        top: 30px;
    }
    .container4_5 {
        min-height: 600px;
        padding-left: 50px;
        padding-top: 120px;
    }
    .h4, .h42 {
        font: normal normal 300 70px/60px Gilroy Light, sans-serif;
    }
    .h4{
        width: 620px;
    }
    .h42{
        margin-left: 0;
    }
    .section_counter2 {
        width: 70%;
    }
    .pDos2 {
        font: normal normal 300 40px/90px Gilroy Light, sans-serif;
    }
    .p11 {
        font: normal normal normal 45px/60px Gilroy Light, sans-serif;
        left: 0;
    }
    .pYear {
        font: normal normal 900 115px/42px Gilroy Bold, sans-serif;
    }
    .pDos {
        font: normal normal 300 30px/30px Gilroy Light, sans-serif;
    }
    .container3 {
        min-height: 300px;
        margin-top: 60px;
    }
    .container11_4 {
        margin-top: 120px;
        max-width: 865px;
    }
    .container11_2 {
        height: 1150px;
    }
    .footerSpan {
        font: normal normal bold 35px/48px Gilroy bold, sans-serif;
    }
    .c11{
        margin-top: 50px;
    }
    .c12{
        margin-top:  80px;
    }
    .container11_6 {
        margin-top: 265px;
    }
    .divSpan {
        font: normal normal bold 22px/20px Gilroy Bold, sans-serif;
        margin-bottom: 20px;
    }
    .spanB {
        width: 56px;
        height: 56px;
        line-height: 56px;
    }
    .span8Z {
        font: normal normal normal 20px/36px Gilroy Light, sans-serif;
    }
    .pH, .pH2 {
        font-size: 55px;
        width: 660px;
        margin-left: 0;
    }
    .circleChart{
        width: 300px;
        height: 300px;
    }
    .percentPAnim2{
        font-size: 130px;
    }
    .percentPAnim{
        font-size: 130px;
    }
    .counter_item{
        margin: 50px 0 -30px 0;
    }
    .counter_item2{
        margin: 80px 0 20px 0;
    }
    .percent, .percent2{
        font-size: 130px;
    }
    .percentP {
        font: normal normal 300 40px/40px Gilroy Light, sans-serif;
        margin-bottom: 60px;
    }
    .divPerc {
        margin-top: -80px;
    }
    .percentP2 {
        font-size: 30px;
    }
    .percentDiv2 {
        margin-top: 0;
    }
    .titleH1 {
        width: 600px;
        height: 140px;
        font: normal normal 300 75px/80px Gilroy Light, sans-serif;
    }
    .titleH4 {
        margin-top: -90px;
        font: normal normal 400 30px/35px Gilroy Light, sans-serif;
    }
    .pSmart{
        font-size: 50px;
    }
    .pPrise {
        font: normal normal 300 28px/44px Gilroy Light, sans-serif;
        margin: 5px 0 55px 0;
    }
    .arrowImg {
        width: 100px;
        height: 100px;
    }
    .sliderBox {
        height: 566px;
    }
    .pBig2{
        font-size: 14px;
    }
    .section_counter2{
        width: 78%;
    }
    @keyframes title1 {
        from {
            position: relative;
            left: -200px;
        }
        to {
            position: relative;
            left: 0px;
        }
    }
}

@media screen and (max-width: 1025px){
    .sNane{
        font: normal normal 300 25px/44px Gilroy Light, sans-serif;
        left: 190px;
    }
    .pSmart{
        font-size: 50px;
        width: 300px;
    }
    .pPrise {
        font: normal normal 300 24px/44px Gilroy Light, sans-serif;
        margin: 0 0 20px 0;
        width: 230px;
    }
    .arrowImg {
        width: 70px;
        height: 70px;
        top: 30px;
        left: 20px;
    }
    .pBig2 {
        width: 300px;
        font-size: 10px;
    }
    .sliderBox {
        margin-left: 50px;
        height: 430px;
        width: 90%;
    }
    .divInfo {
        width: 40%;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0 0 20px;
    }
    .divImgSlider {
        height: 508px;
        width: 100%;
        position: relative;
        padding: 0 10px 0 60px;
    }
    .addClass{
        height: 500px;
    }
    .div10{
        display: block;
        margin-bottom: 0;
    }
    .p102{
        display: block;
        margin: 0 0 10px 0;
        left: 0;
        top: 40px;
        font-size: 18px;
        width: 335px;
        line-height: 1.2;
    }
    .divGreen10{
        left: 0;
        right: 0;
        top: 130px;
    }
    .span10{
        font-size: 18px;
        position: relative;
        top: 190px;
    }
    .container7, .container9, .container5 {
        grid-template-columns: 83px 155px 155px 155px 255px;
    }
    .container4_2{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
    .mainContainer, .container8, .container6,
    .container10_2, .container11_2, .container4_5, .animDiv1{
        grid-template-columns: 100px 155px 305px 305px 1fr;
    }
    .container21{
        grid-template-columns: 305px 205px 1fr;
    }
    .container4_52{
        grid-column-end: 3;
    }
    .pH, .pH2 {
        font-size: 51px;
        width: 630px;
        margin-left: 0;
    }
    .p6 {
        max-width: 615px;
    }
    .h42{
        margin-left: 0;
    }
    .p4_52 {
        margin-left: -200px;
    }
    .p4_5 {
        font-size: 40px;
        line-height: 1.2;
        width: 505px;
    }
    .p4_52 {
        font-size: 40px;
        line-height: 1.2;
        width: 759px;
        margin-left: -210px;
    }
    .p11 {
        font: normal normal normal 40px/50px Gilroy Light, sans-serif;
    }
    .percentDiv2_2 {
        margin-left: 0;
    }
    .percentPAnim2, .percentPAnim{
        font-size: 130px;
    }
    .counter_item{
        margin: 50px 0 -30px 0;
    }
    .counter_item2{
        margin: 80px 0 20px 0;
    }
    .pBack{
        width: 110px;
    }
    .imageBlock {
        margin-right: 7px;
    }
    .titleH1 {
        height: 260px;
    }
    .titleH4 {
        width: 526px;
    }
    @keyframes title1 {
        from {
            position: relative;
            left: -155px;
        }
        to {
            position: relative;
            left: 0px;
        }
    }
}

@media screen and (max-width: 900px) {
    .p5 {
        font: normal normal 300 24px/44px Gilroy Light, sans-serif;
        bottom: 90px;
        display: block;
        left: 145px;
        width: 300px;
    }
    .circle {
        margin: 38px 10px 0 0;
    }
    .hideMain{
        display: block;
    }
    .uhHideMain{
        display: none;
    }
    .sliderDiv {
        flex-direction: column;
    }
    .circleChartInfo {
        width: 200px;
        top: -220px;
        left: 120px;
        font-size: 35px;
    }
    .animDiv1{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .youtubecontainer{
        top: 0;
        height: 100%;
    }
    .startImage{
        height: 276%;
        top: -430px;
        width: 542%;
    }
    .image{
        width: 100vw;
        height: 88%;
        background-size: cover;
        position: absolute;
        top: 100px;
        left: 0;
    }
    .mainContainer{
        display: block;
    }
    .container1{
        display: block;
        padding-left: 50px;
        padding-top: 5vh;
    }
    .titleH1{
        font-size: 70px;
        line-height: 1.1;
        width: auto;
    }
    .titleH4{
        font-size: 30px;
        line-height: 1.3;
        margin-top: 0;
    }
    .greenButDiv{
        width: 336px;
        height: 71px;
        border-radius: 45px;
        margin-top: 0;
    }
    .greenBut{
        width: 337px;
        height: 71px;
        border-radius: 45px;
        line-height: 70px;
        padding-left: 45px;
        font-size: 16px;
        padding-top: 0px;
    }
    .spanArrow{
        width: 63px;
        height: 63px;
        top: 4px;
        z-index: 1;
    }
    .widthImg{
        width: 15px;
    }
    .div99{
        display: block;
        margin-top: 50px;
        position: relative;
    }
    .container2And2{
        padding-left: 50px;
    }
    .container21{
        display: block;
        padding-left: 50px;
    }
    .percentP{
        font-size: 45px;
        width: 144px;
        margin-bottom: 50px;
        line-height: 1.1;
    }
    .percentPAnim2, .percentPAnim{
        font-size: 110px;
    }
    .percent, .percent2{
        font-size: 110px;
    }
    .circleChart {
        width: 350px;
        height: 350px;
    }
    .containerVideo{
        top: 125px;
        left: 145px;
        background-color: #283338;
    }
    .percentDiv2_2{
        display: block;
        margin-top: -120px;
        left: -40px;
    }
    .addPercentP{
        left: 240px;
        position: relative;
        top: -20px;
    }
    .divPerc {
        margin-top: -50px;
        padding-left: 240px;
    }
    .percentP2{
        font-size: 30px;
    }
    .container2{
        background-color: #283338;
        display: block;
        padding-left: 50px;
        margin-top: 130px;
    }
    .pH, .pH2{
        font-size: 37px;
        width: 450px;
        margin-left: 0;
    }
    .pH2, .h421{
        padding-left: 50px;
    }
    .pP {
        font-size: 20px;
        width: 395px;
        margin-top: 40px;
        margin-bottom: 80px;
    }
    .spanB {
        width: 40px;
        height: 40px;
        font-size: 16px;
        line-height: 44px;
        margin-right: 20px;
    }
    .divSpan {
        width: 475px;
        font-size: 25px;
        margin-bottom: 30px;
        line-height: 1.3;
    }
    .span8Z {
        font-size: 19px;
        width: 313px;
        line-height: 1.2;
    }
    .wW {
        width: 365px;
    }
    .container3 {
        display: block;
        height: 410px;
        min-width: 360px;
        background-size: cover;
        padding-top: 50px;
        padding-left: 50px;
    }
    .section_counter2{
        flex-direction: column;
    }
    .pDos2 {
        font-size: 30px;
    }
    .pYear {
        font-size: 90px;
    }
    .pDos {
        font-size: 33px;
        line-height: 1;
    }
    .imageBlock {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .container4 {
        display: block;
        padding-left: 50px;
        padding-top: 40px;
    }
    .container4_2 {
        padding-top: 80px;
        padding-bottom: 40px;
        margin-left: 0;
    }
    .h4, .h42, .h421 {
        width: 470px;
        font-size: 40px;
        margin: 0;
        line-height: 1;
    }
    .h42{
        padding-left: 50px;
    }
    .p4 {
        width: 335px;
        font-size: 18px;
        line-height: 1;
        margin-top: 40px;
        margin-bottom: 55px;
    }
    .pBig2 {
        font-size: 16px;
    }
    .container4_5 {
        display: block;
        min-height: 500px;
        padding-left: 50px;
        padding-top: 70px;
    }
    .container4ForCarousel {
        padding-left: 50px;
    }
    .p4_5 {
        font-size: 36px;
        line-height: 1.2;
        width: 470px;
    }
    .p4_52 {
        font-size: 36px;
        line-height: 1.2;
        width: 470px;
        margin-left: 0;
    }
    .container5_3 {
        margin-left: 40px;
    }
    .container5_2 {
        display: block;
        top: -1px;
        position: relative;
    }
    .slideStyleBack {
        height: 330px;
    }
    .container5 {
        display: block;
        min-height: 665px;
        width: 90%;
        padding-top: 80px;
    }
    .title5P {
        width: 456px;
        font-size: 36px;
        line-height: 1;
    }
    .p5 {
        display: block;
        bottom: 0;
        margin: 0 0 40px 40px;
        font-size: 22px;
        left: -35px;
    }
    .ul {
        margin: 40px 0 10px 0;
        font-size: 18px;
        width: 275px;
    }
    .spanIm {
        line-height: 1.3;
        top: 13px;
        display: block;
        margin-bottom: 15px;
    }
    .pBig23 {
        font-size: 18px;
        top: 65px;
        font-weight: 600;
    }
    .container6 {
        min-height: 530px;
        display: block;
        padding-top: 80px;
        top: -2px;
        position: relative;
    }
    .container6_2 {
        margin-left: 50px;
    }
    .p6 {
        font-size: 32px;
        line-height: 1;
    }
    .li {
        width: 102%;
    }
    .container7_2 {
        display: block;
        height: 630px;
        top: -3px;
        position: relative;
    }
    .container7 {
        display: block;
        width: 90%;
        padding-top: 80px;
        min-height: 630px;
    }
    .container7_3 {
        margin-left: 40px;
    }
    .p16 {
        font-size: 30px;
        width: auto;
        line-height: 1;
    }
    .container8 {
        display: block;
        height: 610px;
        padding-top: 80px;
        padding-left: 50px;
        top: -4px;
        position: relative;
    }
    .container9_2 {
        display: block;
        min-height: 457px;
    }
    .container9 {
        display: block;
        width: 90%;
        padding-top: 80px;
        min-height: 500px;
    }
    .container9_3 {
        margin-left: 40px;
    }
    .container10_5 {
        height: 50px;
    }
    .p9 {
        max-width: 300px;
    }
    .container10_2 {
        height: 730px;
        display: block;
    }
    .container10 {
        padding-left: 50px;
        padding-top: 80px;
    }
    .p10 {
        font-size: 40px;
        max-width: 427px;
        left: 0;
        line-height: 1;
    }
    .p10_2 {
        font-size: 40px;
        max-width: 427px;
        left: 0;
        line-height: 1;
    }
    .div10 {
        display: block;
        margin-bottom: 0;
    }
    .p102 {
        display: block;
        margin: 0 0 10px 0;
        left: 0;
        top: 40px;
        font-size: 18px;
        width: 335px;
        line-height: 1.2;
    }
    .divGreen10 {
        left: 0;
        right: 0;
        top: 130px;
    }
    .span10 {
        font-size: 18px;
        position: relative;
        top: 190px;
    }
    .container11_2 {
        display: block;
        height: 820px;
        padding-top: 80px;
        padding-left: 50px;
    }
    .container11 {
        margin-top: 0;
    }
    .p11 {
        font-size: 38px;
        width: 490px;
        line-height: 1.1;
    }
    .container11_4 {
        margin-top: 0;
    }
    .container11_6 {
        margin-top: 40px;
    }
    .p11_2 {
        line-height: 1;
        font-size: 18px;
        width: 335px;
        margin-bottom: 40px;
        font-weight: 600;
    }
    .footerDiv {
        position: relative;
        top: 35px;
    }
    .footerSpan {
        font-size: 36px;
    }
    .footerDiv3 {
        top: 0;
        min-height: 310px;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 0;
    }
    .pSmart{
        font-size: 50px;
        width: 300px;
    }
    .pPrise {
        font: normal normal 300 24px/44px Gilroy Light, sans-serif;
        margin: 0 0 20px 0;
        width: 230px;
    }
    .pBig2 {
        width: 300px;
        font-size: 10px;
    }
    .sliderBox {
        grid-column-start: 3;
        margin-left: 0;
        height: 630px;
        width: 335px;
    }
    .footerDiv{
        min-height: 430px;
        background-color: #1e2227;
        display: flex;
        flex-direction: column;
    }
    .socP{
        margin: 0 0 20px 0;
        color: white;
        font: normal normal bold 22px/48px Gilroy bold, sans-serif;
    }
    .socA{
        cursor: pointer; color: #d9d9d9; height: 48px; margin: 0 20px;
    }
    .footerSoc{
        cursor: pointer; color: #575758; height: 48px; margin: 0 20px;
    }
    .socDiv{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .footerHiden{
        display: flex;
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
    }
    .footerUnHiden{
        display: none;
    }
    .mobCircle{
        margin-top: 19px;
    }
}

@media screen and (max-width: 600px) {
    .hideMain2{
        display: block;
    }
    .sNane{
        font: normal normal 300 25px/44px Gilroy Light, sans-serif;
        left: 190px;
        top: -55px;
    }
    .circleDiv{
        margin-top: 20px;
    }
    .circleChartInfo {
        width: 150px;
        top: -190px;
        left: 95px;
        font-size: 35px;
    }
    .animDiv1 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .youtubecontainer {
        top: 0;
        height: 100%;
    }
    .circleChart {
        width: 300px;
        height: 300px;
    }
    .startImage {
        width: 870%;
        top: -610px;
        height: 301%;
    }
    .image {
        width: 100vw;
        height: 88%;
        background-size: cover;
        position: absolute;
        top: 100px;
        left: 0;
    }
    .mainContainer {
        display: block;
    }
    .container1 {
        display: block;
        padding-left: 20px;
        padding-top: 15vh;
    }
    .titleH1 {
        font-size: 48px;
        line-height: 1.1;
        max-width: 360px;
        height: 200px;
    }
    .titleH4 {
        font-size: 20px;
        line-height: 1.3;
        width: 315px;
    }
    .greenButDiv {
        width: 336px;
        height: 71px;
        border-radius: 45px;
    }
    .greenBut {
        width: 337px;
        height: 71px;
        border-radius: 45px;
        line-height: 70px;
        padding-left: 45px;
        font-size: 16px;
    }
    .spanArrow {
        width: 63px;
        height: 63px;
        top: 4px;
        z-index: 1;
        padding-left: 5px;
    }
    .div99 {
        display: block;
        position: relative;
        padding-left: 20px
    }
    .container21 {
        display: block;
        padding-left: 0;
    }
    .percentP {
        font-size: 33px;
        width: 144px;
        margin-bottom: 40px;
        line-height: 1.1;
    }
    .percentPAnim{
        font-size: 90px;
    }
    .counter_item {
        margin: 30px 0 -10px 0;
    }
    .percent, .percent2 {
        font-size: 90px;
    }
    .containerVideo {
        top: 125px;
        left: 145px;
        background-color: #283338;
    }
    .percentDiv2_2 {
        display: block;
        margin-top: -130px;
        left: 45px;
        width: 280px
    }
    .percentPAnim2 {
        margin-left: 0;
        font-size: 90px;
    }
    .addPercentP {
        left: 115px;
        position: relative;
        top: -30px;
    }
    .p6 {
        max-width: 350px;
    }
    .divPerc {
        margin-top: -75px;
        padding-left: 115px;
    }
    .percentP2 {
        font-size: 18px;
    }
    .container2 {
        background-color: #283338;
        display: block;
        padding-left: 20px;
        margin-top: 80px;
    }
    .pH {
        font-size: 30px;
        width: 365px;
    }
    .pH2 {
        font-size: 30px;
        margin-left: 0;
        width: 332px;
    }
    .pP {
        font-size: 18px;
        width: 333px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .spanB {
        width: 40px;
        height: 40px;
        font-size: 16px;
        line-height: 44px;
        margin-right: 20px;
    }
    .divSpan {
        width: 327px;
        font-size: 22px;
        margin-bottom: 30px;
        line-height: 1;
    }
    .span8Z {
        font-size: 18px;
        width: 251px;
        line-height: 1.2;
    }
    .wW {
        width: 265px;
    }
    .container3 {
        display: block;
        background: url("../../image/svg/back2.webp") 90% 0px no-repeat padding-box;
        height: 410px;
        min-width: 360px;
        background-size: cover;
        padding-top: 50px;
        padding-left: 20px;
    }
    .pDos2 {
        font-size: 30px;
    }
    .pYear {
        font-size: 90px;
    }
    .pDos {
        font-size: 33px;
        line-height: 1;
    }
    .imageBlock {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .container4 {
        display: block;
        padding-left: 20px;
        padding-right: 0;
    }
    .container4_2 {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .h4, .h42, .h421 {
        width: 335px;
        font-size: 30px;
        margin: 0;
        line-height: 1;
    }
    .h42, .h421 {
        padding-left: 20px;
    }
    .p4 {
        width: 335px;
        font-size: 18px;
        line-height: 1;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    .pSmart{
        font-size: 50px;
        width: 300px;
    }
    .pPrise {
        font: normal normal 300 24px/44px Gilroy Light, sans-serif;
        margin: 0 0 20px 0;
        width: 230px;
    }
    .arrowImg {
        width: 70px;
        height: 70px;
        top: 30px;
        left: 20px;
    }
    .pBig2 {
        width: 300px;
        font-size: 10px;
        display: block;
    }
    .sliderBox {
        grid-column-start: 3;
        margin-left: 0;
        height: 630px;
        width: 92%;
    }
    .divInfo {
        width: 40%;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0 0 20px;
    }
    .sliderDiv {
        flex-direction: column;
    }
    .divImgSlider {
        height: 85%;
        width: 100%;
        padding: 0 20px;
        position: static;
    }
    .container4_5 {
        display: block;
        min-height: 420px;
        padding-left: 20px;
        padding-top: 70px;
        position: relative;
        z-index: 2;
        color: black;
    }
    .p4_5 {
        font-size: 30px;
        line-height: 1;
        width: 335px;
    }
    .p4_52 {
        font-size: 30px;
        line-height: 1;
        margin-left: 0;
        width: 335px;
    }
    .container5_3 {
        margin-left: 20px;
    }
    .container5_2 {
        display: block;
    }
    .slideStyleBack {
        height: 200px;
    }
    .container5 {
        display: block;
        min-height: 700px;
        width: 90%;
        padding-top: 80px;
    }
    .title5P {
        width: 292px;
        font-size: 30px;
        line-height: 1;
    }
    .p5 {
        display: block;
        bottom: 0;
        left: 0;
        margin: 0 0 40px 0;
        font-size: 22px;
    }
    .ul {
        margin: 40px 0 10px 0;
        font-size: 18px;
        width: 275px;
    }
    .spanIm {
        line-height: 1.3;
        top: 13px;
        display: block;
        margin-bottom: 15px;
    }
    .pBig23 {
        width: 260px;
        font-size: 18px;
        top: 45px;
        font-weight: 600;
    }
    .container6 {
        min-height: 540px;
        display: block;
        padding-top: 80px;
    }
    .container6_2 {
        margin-left: 20px;
    }
    .p6 {
        font-size: 30px;
        line-height: 1;
    }
    .li {
        width: 102%;
    }
    .container7_2 {
        display: block;
        height: 618px;
    }
    .container7 {
        display: block;
        width: 90%;
        padding-top: 80px;
        min-height: 618px;
    }
    .container7_3 {
        margin-left: 20px;
    }
    .p16 {
        font-size: 30px;
        width: 292px;
        line-height: 1;
    }
    .container8 {
        display: block;
        height: 610px;
        padding-top: 80px;
        padding-left: 20px;
    }
    .container9_2 {
        display: block;
        min-height: 457px;
    }
    .container9 {
        display: block;
        width: 90%;
        padding-top: 80px;
        min-height: 500px;
    }
    .container9_3 {
        margin-left: 20px;
    }
    .container10_5 {
        height: 50px;
        margin-top: -1px;
    }
    .p9 {
        max-width: 300px;
    }
    .container10_2 {
        height: 611px;
        display: block;
    }
    .container10 {
        padding-left: 20px;
        padding-top: 80px;
    }
    .p10 {
        font-size: 30px;
        max-width: 335px;
        left: 0;
        line-height: 1;
    }
    .p10_2 {
        font-size: 30px;
        max-width: 335px;
        left: 0;
        line-height: 1;
    }
    .div10 {
        display: block;
        margin-bottom: 0;
    }
    .p102 {
        display: block;
        margin: 0;
        left: 0;
        top: 40px;
        font-size: 18px;
        width: 335px;
        line-height: 1.2;
    }
    .divGreen10 {
        left: 0;
        right: 0;
        top: 70px;
    }
    .span10 {
        font-size: 18px;
        position: relative;
        top: 100px;
        width: auto;
    }
    .container11_2 {
        display: block;
        height: 800px;
        padding-top: 80px;
        padding-left: 20px;
        position: relative;
        z-index: 2;
        color: black;
    }
    .container11 {
        margin-top: 0;
    }
    .p11 {
        font-size: 30px;
        width: 335px;
        line-height: 1;
    }
    .container11_6 {
        margin-top: 40px;
    }
    .p11_2 {
        line-height: 1;
        font-size: 18px;
        width: 335px;
        margin-bottom: 40px;
        font-weight: 600;
    }
    .footerDiv {
        position: relative;
        top: 35px;
        padding-top: 0;
    }
    .footerSpan {
        font: normal normal bold 26px/26px Gilroy bold, sans-seriа;
    }
    .footerDiv3 {
        top: 0;
        min-height: 310px;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 0;
    }
    .addClass{
        height: 100%;
        margin-top: 20px;
    }
    .div2Soc{
        display: flex;
        flex-direction: column;
    }
    .fontQ{
        font-size: 22px;
    }
    .mobCircle{
        margin-top: 19px;
    }
    .divBoxNum{
        width: auto;
    }
}

@media screen and (max-width: 430px) {
    .imgClass2{
        width: 100%;
        height: 145%;
        object-fit: contain;
    }
}

@media screen and (max-height: 420px) {
    .sliderBox {
        height: 375px;
        width: 95%;
    }
    .sliderDiv {
        flex-direction: row;
    }
}